<app-header></app-header>
<app-ngx-spinner></app-ngx-spinner>
<main class="main">
  <div class="explore-all">
    <div class="row no-gutters">
      <div class="col-md-3 sidemenu-width">
        <app-side-menu></app-side-menu>
      </div>
      <div class="col-md-9 side-menu-right">
        <div class="inside-information">
          <a href="/orders" class="btn btn-secondary mb-3"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;Back</a>
          <div class="box-body-inside row no-gutters">
            <div class="col">
              <div class="order-dream-h">
                <div class="inner-product-details">
                  <div class="production-detail-infolg">
                    <span class="d-inline-block box-production">
                      <div class="branchbaox draft"><i class="bi bi-pencil-square"></i></div>
                      In Draft
                    </span>
                  </div>
                </div>
              </div>
              <div class="line_items_header">
                <div class="line-items">New Order</div>
              </div>
              <div class="sho-results-order-use customer-form-details">
                <div class="row justify-content-center">
                  <div class="col-md-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Customer: </label>
                          <select [(ngModel)]="selectedCustomer" class="form-control">
                            <option value="0">--Select--</option>
                            <option value="1">Customer-1</option>
                            <!-- <option value="2">Customer-2</option>
                            <option value="3">Customer-3</option> -->
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Case Color: </label>
                          <select [(ngModel)]="selectedCaseColor" class="form-control">
                            <option value="0">--Select--</option>
                            <option value="1">Blue</option>
                            <option value="2">Red</option>
                            <option value="3">Green</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Order Date : </label>
                          <input type="text" class="form-control datepicker" [(ngModel)]="orderDate" [disabled]="true">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Order Status: </label>
                          <select [(ngModel)]="selectedOrderStatus" class="form-control">
                            <option value="0">--Select--</option>
                            <option value="1">Created</option>
                            <option value="2">Confirmed</option>
                            <option value="3">SentForPrinting</option>
                            <option value="4">Printed</option>
                            <option value="5">Completed</option>
                            <option value="6">Returned</option>
                            <option value="7">NeedMoreInfo</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Address: </label>
                          <textarea class="form-control" [(ngModel)]="address" cols="30" rows="3"></textarea>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="attachment">File attachment: </label>
                          <input type="file" (change)="selectFile($event)" />
                        </div>
                      </div>
                      <div class="col-md-12 d-flex justify-content-center">
                        <button type="button" (click)="placeOrder()" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 tools-side-bar">
              <div class="tools-section-right">
                <h3>
                  <span>Order Actions </span>
                </h3>
                <ul class="order_actions">
                  <li>
                    <a href="javascript:;"><i class="bi bi-chat-left"></i> <span>Save as Draft</span></a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="bi bi-x-circle"></i> <span>Cancel Order</span></a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="bi bi-forward-fill"></i> <span>Email Payment Request</span></a>
                  </li>
                  <li>
                    <a href="javascript:;"><i class="bi bi-save"></i><span>Save</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>