/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,body{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #444444;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
    padding: 0;
}
.main{
    padding-top: 50px;
}
.sidemenu-width{
    flex: 0 0 230px;
    max-width: 230px;
}
.side-menu-right{
    flex: 0 0 100%;
    max-width: calc(100% - 230px);   
}
.nav-tabs{
    border-bottom: none;
}
.nav-tabs .nav-link{
    padding: 8px 15px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-right: 10px;
    border: none;
    box-shadow: 0 3px 6px 0 rgba(140,152,164,.25)!important;
    background: #fff;
    color: #949494;
}
.nav-tabs .nav-link.active{
   background-color: #ffcc00;
}
.btn-primary{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-weight: 600;
    font-size: 13px;
}
.btn,a{
    outline: none;
    box-shadow: none !important;
}