<div class="side-menu-main">
  <div class="space-main-x">
    <h3>OVERVIEW</h3>
    <ul>
      <li>
        <a href="#" class="active">
          <i class="bi bi-exclamation-circle"></i>
          <span>Welcome</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bi bi-bar-chart-line"></i>
          <span>Dashboard</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="space-main-x">
    <h3>SALES & SERVICE</h3>
    <ul>
      <li>
        <a href="#">
          <i class="bi bi-chat-quote"></i>
          <span>Quotes</span>
          <div class="notg">1</div>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bi bi-bar-chart-line"></i>
          <span>Notes</span>
        </a>
        <ul>
          <li>
            <a href="#" class="active">
              <span class="subns">#175348</span>
              <div class="close"><i class="bi bi-x-circle-fill"></i></div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>